  <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container-fluid">
        <h1>Amura Buzz <small>Enterprise social network </small></h1>
        <br><br>
        <p>
        <%# link_to "Browse Tweets»",user_tweets_path(current_user),class: "btn btn-success btn-lg", role: "button" %>
        &nbsp;&nbsp;
        <%= link_to "Sign Up »",new_user_registration_path,class: "btn btn-primary", role: "button" %>
        &nbsp;&nbsp;
        <small class="grey">Already a user?</small>
        &nbsp;&nbsp;
        <%= link_to "Sign In »",new_user_session_path,class: "btn btn-success", role: "button" %>
        </p>
        <br><br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <!-- <h2>Make Friends</h2> -->
          <p>Total Users</p>
          <p><%= @total_users %></p>
        </div>
        <div class="col-md-4">
          <!-- <h2>Make Friends</h2> -->
          <p>Total Tweets</p>
          <p><%= @total_tweets %></p>
        </div>
        <div class="col-md-4">
        <!--   <h2>View Tweets</h2> -->
        <br><br>
         <p>And counting...</p>
        </div>
      </div>  
    </div>   
  </div>
</div>
