<div class="jumbotron border-shadow mt30">
    <div class="container-fluid">
        <h2>Amura Buzz <small>A social network only for Amurites</small></h2>

        <p class="mt30">
          <%= link_to "Sign Up »",new_user_registration_path,class: "btn btn-primary", role: "button" %>
          <small class="grey">Already a user?</small>
          <%= link_to "Sign In",new_user_session_path,class: "btn btn-success", role: "button"%>
        </p>

        <div class="row mt30">
            <div class="col-md-4 col-md-offset-2">
                <p>Total Users</p>
                <p><%= @total_users %></p>
            </div>
            <div class="col-md-4">
                <p>Total Tweets</p>
                <p><%= @total_tweets %></p>
            </div>
        </div>  
    </div>   
</div>
