<h1>Backbone <small>Testing</small></h1>
<p>Current Action : <%= @ca  %></p>
<p>Current Controller : <%= @cc %></p>

<br><br>
<!-- <button id="btn_test" class="btn btn-primary">Heya</button> -->
<h2 class="page_title">All Users</h2>

<a href="/backbone">All Users</a> |
<a href="/backbone/show/1">Show</a> |
<a href="/backbone/edit/1">Edit</a> |
<a href="/backbone/delete/1">Delete</a> |
<hr>
<div class="container-fluid">
  <div class="row">
  Listing All Users
    <div id="all_users_backbone">
      --
    </div>
  </div>
</div>
<hr>
<!-- 
<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>

<button type="button" rel="popover" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on left
</button>

<br><br><br><br>
<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button> -->