<h1>Main#xtra</h1>
<p>Find me in app/views/main/xtra.html.erb</p>


<%= @current_action  %>

<%= @current_controller %>


<span class="glyphicon glyphicon-wifi"></span>

<%= '<span class="glyphicon glyphicon-log-in"></span> Me'.html_safe %>


	<form class="navbar-form navbar-right" role="search">
			<div class="form-group">
			  <input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
		</form>
