<h1>Main#xtra</h1>
<p>Find me in app/views/main/xtra.html.erb</p>


<%= @current_action  %>

<%= @current_controller %>


<span class="glyphicon glyphicon-wifi"></span>

<%= '<span class="glyphicon glyphicon-log-in"></span> Me'.html_safe %>