<% likers.each do |l|%>
	<% if l.id == current_user.id %>
		<tr><td><%= link_to l.user_name,user_path %></td></tr>
	<% else %>
		<tr><td><%= link_to l.user_name,user_path(l.id) %></td></tr>
	<% end %>
<% end %>