<div class="modal post-tweet-form fade" id="tweet_modal" tabindex="-1" role="dialog" aria-labelledby="tweetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="post-tweet-form">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="tweetModalLabel">Compose new Tweet</h4>
        </div> <!-- modal-header -->

        <div class="modal-body">
          <div class="row-fluid">
            <div class="input-group col-xs-8 col-xs-offset-2">
              <input type="hidden" name="id">
              <textarea name='tweet[content]' class='form-control tweet-input' rows='2' cols='30' placeholder='Tweet...' maxlength='160' required></textarea>
              <div class="pull-right clearfix small text-success">
                <span class="tweet-length">160</span> characters left
              </div>
            </div>
          </div>
        </div> <!-- modal-body -->

        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary actions post-tweet" value="Post" disabled>
        </div>

      </form>
    </div> <!-- modal-content -->
  </div> <!-- modal-dialouge -->
</div> <!-- modal -->
