
$("#like_modal_body_table").html("");
<% @likers.each do |l|%>
	<% if l.id == current_user.id %>
		$("#like_modal_body_table").append("<tr><td><%= j link_to l.user_name,my_profile_path('me') %></td></tr>");
	<% else %>
		$("#like_modal_body_table").append("<tr><td><%= j link_to l.user_name,my_friend_path(l.id) %></td></tr>");
	<% end %>
<% end %>