<% type_of_activity.each do |activity| %>
<%# activity.inspect %>
	<div class="container-fluid">
	  <div id="<%= "activity#{activity.id}"%>"class="activity row">
	  	<div class="col-md-4 col-md-offset-2">
	  		<% if activity.owner.id == current_user.id %>
	  			You
	  		<% else %>
		    	<%= link_to activity.owner.user_name, my_friend_path(activity.owner.id) if activity.owner %>
		    <% end %>
		    <%= render_activity activity%>
	    </div>
	    <div class="col-md-4 col-md-offset-2">
		    <small><em>
		    	<%= timeago_tag activity.created_at, :nojs => true, :limit => 20.years.ago %>
	    	</em></small>
		</div>
	  </div>
	</div>
<% end %>