<div id="PresetFilters">
	<a data-preset="vintage" class="">Vintage</a>
	<a data-preset="lomo">Lomo</a>
	<a data-preset="clarity">Clarity</a>
	<a data-preset="sinCity">Sin City</a>
	<a data-preset="sunrise">Sunrise</a>
	<a data-preset="crossProcess">Cross Process</a>
	<a data-preset="orangePeel">Orange Peel</a>
	<a data-preset="love">Love</a>
	<a data-preset="grungy">Grungy</a>
	<a data-preset="jarques">Jarques</a>
	<a data-preset="pinhole">Pinhole</a>
	<a data-preset="oldBoot">Old Boot</a>
	<a data-preset="glowingSun">Glowing Sun</a>
	<a data-preset="hazyDays">Hazy Days</a>
	<a data-preset="herMajesty">Her Majesty</a>
	<a data-preset="nostalgia">Nostalgia</a>
	<a data-preset="hemingway">Hemingway</a>
	<a data-preset="concentrate">Concentrate</a>
</div>