<div class="container-fluid hidden" id="chat-app">
    <div class="row-fluid">
        <div class="col-md-10 col-md-offset-1">
            <p class="text-success">Friends</p>
            <ul class="list-group tc" id="friends_list">
            </ul>
        </div>
    </div>    
</div>


<div class="container-fluid" id="chat-area-container">
    <div class="row-fluid">
        <div class="col-md-8 col-md-offset-4">
            <div class="clearfix" id="chat-area">
            </div>
        </div>
    </div>    
</div>

