$("#user_notifications").text("");
<% @activities.each do |activity| %>
   console.log("<%= j activity.owner.name if activity.owner %> <%= j render_activity activity %>");
   $("#user_notifications").append("<li role='presentation'><p><span class='btn btn-link'><%= j link_to activity.owner.user_name, my_friend_path(activity.owner.id) if activity.owner %></span><%= j render_activity activity %></p></li><li role='presentation' class='divider'></li>");
<% end %>