<div class="danger text-danger backbone_errors"></div>
<div class="panel panel-info container-fluid">
	<div class="panel-heading row">
		<div class="col-xs-10">
			Show Thing
		</div>
			
		<a class="col-xs-1" href="/backbone/things/update/<%= thing.id %>" title="update" >
			<i class="fa fa-pencil"></i>
		</a>
		<a class="col-xs-1 delete" data-thing-id="<%= thing.id %>">
			<i class="fa fa-times"></i>
		</a>
	</div>
	<div class="panel-body">
   		<p>Name : <%= thing.name %></p>
		<p>Category : <%= thing.category %></p>
 	 </div>
</div>