/*
 *= require_self
 *= require bootstrap-less/bootstrap
 *= require jquery-fileupload/jquery.fileupload
 *= require jquery-fileupload/jquery.fileupload-ui
 *= require ekko-lightbox/ekko-lightbox
 *= require font-awesome
 *= require chat_app
 *= require defaults
 *= require gallery/galleria.classic
 */

html {
  min-height: 100%;
}
body {
  margin-top: 60px !important;
  overflow-x: hidden;
  /*margin-bottom: 60px;*/
}
#sidebar-stats a{
  text-decoration: none !important;
}
.tweet-panel{
  font-size: 12px;
}
.tweet-panel .tweet-content{
  font-size: 13px;
}
.tweet-panel .panel-heading{
  padding: 5px 10px;
}
.tweet-panel .panel-body{
  padding: 10px 10px;
  word-wrap:break-word;
}

.tweet-options .dropdown-toggle{
  padding: 0px 5px !important;
}
.tweet-options .dropdown-menu{
  font-size: 12px;
}
.img-xs{
  max-height: 20px;
  max-width: 20px;
}
.img-sm{
  max-height: 50px;
  max-width: 50px;
}
.img-md{
  max-height: 100px;
  max-width: 100px;
}

.img-lg{
  max-height: 200px;
  max-width: 200px;
}

.img-xl{
  max-height: 400px;
  max-width: 400px;
}
.tweet .likes{
  opacity:0.7;
}
.tweet .likes:hover{
  opacity:1.0;
}

#user_notifications{
  width: 300px;
}
.border-shadow {
  border-radius: 5px;
  box-shadow: 1px 1px 20px 1px GREY;
}
.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}
.activity{
  margin-top:15px;
  border-bottom: 1px;
}
/*#sidebar{
  position: fixed;
}*/


.header {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

#chat-window {
  min-height: 400px;
  max-height: 400px;
  overflow-x: auto;
}

.footer {
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px solid #eee;
  text-align: center;
  font-size: small;
}

#emoji-list .emoji_wrapper{
  cursor: crosshair;
}

.btn-dull{
  color: #87A1B5;
}

.actions a{
  text-decoration: none !important;
}

.profile_picture:hover:before {
  background:url(http://i40.tinypic.com/i3s4dc.png) no-repeat center center;
  content:"";
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
}

.galleria{
  width: 600px;
  height: 400px;
  background: #4693BD;
}

#PresetFilters a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
  background-color: #368ad2;
  display: block;
  float: left;
  text-align: center;
  padding: 8px 10px;
  color: #f8f8f2;
  margin: 5px;
  border: none;
  font-size: 13px;
  width: 120px;
  cursor: pointer;
}

#PresetFilters a.Active {
  background-color: #e69751;
}

.fileinput-files{
  font-size: 10px;
  word-break: break-all;
}

.tweet-picture{
  cursor: pointer;
}