#friends-list-container{
  position: fixed;
  right: 0;
	width: 300px;
	height: 100%;
}
#friends-list .chat-friend{
	padding: 0px;
}
#chat-app-container{
    position: fixed;
    bottom: 0;
    right: 0;
}

.chatbox .user-name{
	font-weight: bold;
}
.chatbox .panel-heading{
	padding: 3px 15px;
}
.chatbox .panel-body{
	overflow-y: auto;
    max-height: 200px;
}
.message-input {
    resize: none;
}
.message-box{
	word-wrap:break-word;
}
.chat-actions a{
	padding: 6px;
}